:root {
    --mainFont: 'Open Sans', sans-serif;
    --secondaryFont: 'Raleway', sans-serif;
    --mainColor-darkTheme: #ffffff;
    --secondaryColor-darkTheme: #9da4bd;
    --secondaryColor-darkTheme-opacity: #9da4bd99;
    --mainColor-lightTheme: #303030;
    --secondaryColor-lightTheme: #555555;
    --mainColor-effect: #ff6c00;
}

body {
    font-family: var(--mainFont)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
}

img {
    display: block;
}

.list-st-none {
    list-style: none;
}

.link-dec-none {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}
/* ===== COMPONENTS ===== */
.address {
    font-style: normal;
}

.modal-btn {
    width: 164px;
    border: 1px solid var(--mainColor-effect);
    border-radius: 25px;
    padding: 12px 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--mainColor-effect);
    color: #fff;
}

.social-links__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.2em;
    color: var(--mainColor-lightTheme)
}

.social-links__link:hover,
.social-links__link:focus {
    color: var(--mainColor-effect)
}

.undertitle {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.undertitle-light-theme,
.secondary-header-light-theme {
    color: var(--mainColor-lightTheme);
}

.undertitle-dark-theme {
    color: var(--secondaryColor-darkTheme-opacity);
}

.description {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
}

.description-light-theme {
    color: var(--secondaryColor-lightTheme);
}

.description-dark-theme {
    color: var(--secondaryColor-darkTheme);
}

.secondary-header {
    font-family: var(--secondaryFont);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.167;
    letter-spacing: 0.05em;
}

.secondary-header-dark-theme {
    color: var(--mainColor-darkTheme);
}
/* ===== END COMPONENTS ===== */

/* ===== HEADER ===== */
.header .container {
    display: flex;
    align-items: center;
    padding-top: 32px;
}

.navigation {
    display: flex;
}

.navigation-logo {
    margin-right: 71px;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-list-item:not(:last-child) {
    margin-right: 41px;
}

.header .address {
    margin-left: auto;
    margin-right: 41px;
}

.navigation-list-link,
.address-phone-number {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
    /* color: #FFFFFF */
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-phone-number:hover,
.address-phone-number:focus {
    color: var(--mainColor-effect);
}
/* ===== END HEADER ===== */

/* ===== HERO ===== */
.hero .container {
    display: flex;
}

.social-links {
    display: flex;
    width: 100px;
}

.social-links__item:not(:last-child) {
    margin-right: 40px;
}

.hero__right-side {
    flex-grow: 1;
    padding-left: 100px;
    padding-top: 272px;
    padding-bottom: 206px;
    background-color: #ccc;
}

.main-header {
    font-family: var(--secondaryFont);
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.181;
    letter-spacing: 0.05em;
    /* color: #FFFFFF; */
}

.hero .description {
    width: 363px;
}
/* ===== END HERO ===== */

/* ===== ABOUT US ===== */
.about .container {
    display: flex;
    align-items: center;
}

.about__img-list {
    display: flex;
}

.about__img-list-item:not(:last-child) {
    margin-right: 30px;
}

.about__right-side {
    width: 600px;
    padding-left: 64px;
}

.about .description {
    margin-bottom: 20px;
}

.about__right-side-description {
    margin-bottom: 40px;
}

.about__right-side-description {
    font-size: 14px;
    line-height: 1.857;
    letter-spacing: 0.02em; 
    color: var(--secondaryColor-lightTheme)
}
/* ===== END ABOUT US ===== */

/* ===== SERVICES AND PRICES ===== */
.services-list-wrapper {
    display: flex;
    margin-bottom: 46px;
}

.services .secondary-header {
    margin-bottom: 44px;
}

.services-list {
    width: 50%;
    padding: 30px 40px;
    border: 1px solid #000;
}

.services-list-item {
    display: flex;
    justify-content: space-between;
}

.services-list-item:not(:last-child) {
    margin-bottom: 20px;
}

.services .modal-btn {
    display: block;
    margin: 0 auto;
}

.services-list-item-name,
.services-list-item-price {
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
    color: var(--secondaryColor-darkTheme)
}

.services-list-item-price {
    text-align: right;
}
/* ===== END SERVICES AND PRICES ===== */

/* ===== WHY US ===== */
.why-us .container {
    display: flex;
}

.why-us__left-side {
    width: 469px;
}

.why-us__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.why-us__list-item {
    width: 170px;
    min-height: 133px;
    padding: 20px 24px;
    border: 1px solid #000;
}

.why-us__list-item:nth-child(odd) {
    margin-right: 30px;
}

.why-us__list-item:nth-child(2n) {
    margin-top: 38px;
}

.why-us__list-counter {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--mainColor-lightTheme);
}

.why-us__list-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    text-align: center;
    color: var(--mainColor-lightTheme);
}

.why-us__right-side {
    margin-left: 130px;
}
/* ===== END WHY US ===== */

/* ===== OUR BARBERIES ===== */
.our-barberies .secondary-header {
    margin-bottom: 44px;
}

.our-barberies__list {
    display: flex;
    justify-content: space-between;
}

.our-barberies__list-photo {
    margin-bottom: 30px;
}

.our-barberies__list-name {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.389;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--mainColor-lightTheme);
}

.our_barberies__list-job {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--mainColor-effect);
}

.social-list {
    display: flex;
}
/* ===== END OUR BARBERIES ===== */

/* ===== PORTFOLIO ===== */
.portfolio .undertitle {
    margin-bottom: 40px;
}

.portfolio-header {
    display: none;
}

.portfolio__list {
    display: flex;
    justify-content: space-between;
}
/* ===== END PORTFOLIO ===== */

/* ===== CONTACTS ===== */
.address__list-link,
.contacts-hours {
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
    color: var(--secondaryColor-darkTheme);
}

.contacts__info .undertitle {
    color: var(--mainColor-darkTheme);
}
/* ===== END CONTACTS ===== */

/* ===== FOOTER ===== */
.section-wrapper {
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.2em;
    color: var(--secondaryColor-darkTheme);
}
/* ===== END FOOTER ===== */