.about {
  & .container {
    display: flex;
    align-items: center;
  }

  & .description {
    margin-bottom: 20px;
  }
}

.about__img-list {
  display: flex;
}

.about__img-item:not(:last-child) {
  margin-right: 30px;
}

.about__right-side {
  padding-left: 65px;
  padding-right: 35px;
}

.about__description {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: $colorSecondaryLightTheme;
}