.about .container {
  display: flex;
  align-items: center;
}

.about__img-list {
  display: flex;
}

.about__img-list-item:not(:last-child) {
  margin-right: 30px;
}

.about__right-side {
  width: 600px;
  padding-left: 64px;
}

.about .description {
  margin-bottom: 20px;
}

.about__right-side-description {
  margin-bottom: 40px;
}

.about__right-side-description {
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: var(--colorSecondaryLightTheme);
}