.contacts__info {
  width: 50%;
  padding-left: 100px;
}

.contacts__info .undertitle {
  color: var(--colorMainDarkTheme);
}

.contacts__info .address {
  margin-bottom: 70px;
}

.contacts__hours {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--colorSecondaryDarkTheme);
}