.contacts-form {
  display: flex;
  flex-direction: column;

  &__section {
    & .secondary-header {
      margin-bottom: 44px;
      text-align: center;
    }
  }

  %input-props {
    margin-bottom: 44px;
    border: none;
    border-bottom: 1px solid #9da4bd66;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    outline: none;
    transition: all 250ms linear;
  
    &:focus {
      font-size: 14px;
      line-height: 1.714;
      border-color: #fff;
    }
  
    &::placeholder {
      text-transform: uppercase;
      color: $colorContactsPlaceholder;
      transition: color 250ms linear;
    }
  
    &:focus::placeholder {
      color: #e7e4e4;
    }
  }
    
  &__input {
    line-height: 2.182;
    @extend  %input-props;
  }
  
  &__message {
    height: 76px;
    resize: none;
    @extend  %input-props;
  }
  
  &__btn {
    display: block;
    width: 160px;
    margin: 0 auto;
    border: 1px solid $colorAccent;
    border-radius: 25px;
    padding: 12px 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    color: $colorMainDarkTheme;
    background-color: transparent;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  
    &:hover,
    &:focus {
      background-color: $colorAccent;
    }
  }
}

@media screen and (min-width: 768px) {
  .contacts-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__section {
      & .secondary-header {
        text-align: left;
      }
    }
      
    &__input {
      width: 330px;
    }
    
    &__message {
      width: 100%;
    }
    
    &__btn {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contacts-form {
    &__section {
      width: 50%;

      & .container {
        width: 615px;
        margin-left: auto;
        margin-right: 0;
        padding-right: 40px;
      }
    }
      
    &__input {
      width: 265px;
    }
  }
}