.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  & .container {
    display: flex;
    align-items: center;
    padding-top: 32px;
  }

  & .address {
    margin-left: auto;
    margin-right: 41px;
  }

  & .modal-btn {
    margin-right: 15px;
  }
}

.address__phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  &:hover,
  &:focus {
    color: var(--colorAccent);
  }
}