.our-barberies {
  background-color: $bgColorAccentLight;

  & .secondary-header {
    margin-bottom: 44px;
  }
}

.our-barberies__list {
  display: flex;
  justify-content: space-between;
}

.our-barberies__photo {
  margin-bottom: 30px;
}

.our-barberies__info {
  width: 206px;
  margin: 0 auto;
}

.our-barberies__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  letter-spacing: 0.02em;
  color: $colorMainLightTheme;
}

.our_barberies__job {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.02em;
  color: $colorAccent;
}