.portfolio {
  & .undertitle {
    margin-bottom: 44px;
  }

  &__header {
    display: none;
  }
  
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 479px) {
  .portfolio {
    &__photo {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    &__list {
      
      display: grid;
      -ms-grid-columns: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-rows: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    &__list {
      display: flex;
      justify-content: space-between;
    }
  }
}