.services {
  background-color: $bgColorServices;
  background-image: url(../images/services-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  & .secondary-header {
    margin-bottom: 44px;
  }

  & .modal-btn {
    display: block;
    margin: 0 auto;
  }
}

.services__list--wrapper {
  display: flex;
  margin-bottom: 46px;
}

.services__list {
  width: 50%;
  padding: 30px 40px;

  &:nth-child(odd) {
    background-image: linear-gradient(
      180deg,
      #171a24 0%,
      rgba(23, 26, 36, 0.2) 100%
    );
  }

  &:nth-child(even) {
    background-image: linear-gradient(
      180deg,
      #090b13 0%,
      rgba(9, 11, 19, 0.2) 100%
    );
  }
}

.services__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.services__name {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: $colorSecondaryDarkTheme;
}

.services__line {
  display: block;
  flex-grow: 1;
  height: 1px;
  background-color: #9da4bd1f;
  margin: 0 6px;
}

.services__price {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: $colorSecondaryDarkTheme;
  text-align: right;
}