.services {
  background-color: var(--bgColorServices);
  background-image: url(../images/services-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services-list-wrapper {
  display: flex;
  margin-bottom: 46px;
}

.services .secondary-header {
  margin-bottom: 44px;
}

.services-list {
  width: 50%;
  padding: 30px 40px;
}

.services-list:nth-child(1) {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.services-list:nth-child(2) {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.services-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services .modal-btn {
  display: block;
  margin: 0 auto;
}

.services-list-item-name,
.services-list-item-price {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--colorSecondaryDarkTheme);
}

.services-line {
  display: block;
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin: 0 6px;
}

.services-list-item-price {
  text-align: right;
}