.services {
  background-color: $bgColorServices;
  background-image: url(../images/services/services-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;

  & .secondary-header {
    margin-bottom: 44px;
  }

  & .modal-btn {
    display: block;
    margin: 0 auto;
  }
}

.services__list--wrapper {
  margin-bottom: 50px;
  padding: 30px;
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.services__list {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.services__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.services__name {
  font-size: 14px;
  line-height: 2.143;
  letter-spacing: 0.02em;
  color: $colorSecondaryDarkTheme;
}

.services__line {
  display: block;
  flex-grow: 1;
  height: 1px;
  background-color: #9da4bd1f;
  margin: 0 6px;
}

.services__price {
  @extend .services__name;
  text-align: right;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .services {
    background-image: url(../images/services/services-bg-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .services {
    background-image: url(../images/services/services-bg-tablet.png);
  }

  .services__list--wrapper {
    padding: 30px 40px;
  }

  .services__name {
    font-size: 18px;
    line-height: 1.667;
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .services {
      background-image: url(../images/services/services-bg-tablet@2x.png);
    }
  }
}

@media screen and (min-width: 1200px) {
  .services {
    background-image: url(../images/services/services-bg-desktop.png);
  }
  
  .services__list--wrapper {
    display: flex;
    margin-bottom: 46px;
    padding: 0;
    background-image: none;
  }
  
  .services__list {
    width: 50%;
    padding: 30px 40px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  
    &:nth-child(odd) {
      background-image: linear-gradient(
        180deg,
        #171a24 0%,
        rgba(23, 26, 36, 0.2) 100%
      );
    }
  
    &:nth-child(even) {
      background-image: linear-gradient(
        180deg,
        #090b13 0%,
        rgba(9, 11, 19, 0.2) 100%
      );
    }
  }
  
  .services__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .services {
      background-image: url(../images/services/services-bg-desktop@2x.png);
    }
  }
}