.why-us .container {
  display: flex;
}

.why-us__left-side {
  width: 470px;
  flex-shrink: 0;
  padding-left: 100px;
}

.why-us__list {

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.why-us__list-item {
  width: 170px;
  min-height: 133px;
  padding: 20px 24px;
  background-color: #f7f7f7;
}

.why-us__list-item:nth-child(odd) {
  margin-right: 30px;
}

.why-us__list-item:nth-child(2n) {
  margin-top: 38px;
}

.why-us__list-counter {
  position: relative;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--colorMainLightTheme);
}

.why-us__list-counter::after {
  position: absolute;
  top: 12px;
  right: -10px;
  content: "";
  background-image: url(../images/plus.svg);
  width: 9px;
  height: 9px;
  fill: #ff6c00;
}

.why-us__list-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  text-align: center;
  color: var(--colorMainLightTheme);
}

.why-us__right-side {
  padding-left: 130px;
}

.why-us__right-side .description {
  width: 500px;
}