.description {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}

.description-light-theme {
  color: $colorSecondaryLightTheme;
}

.description-dark-theme {
  color: $colorSecondaryDarkTheme;
}