.main-header {
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: $colorMainDarkTheme;
}

@media screen and (min-width: 1200px) {
  .main-header {
    font-size: 72px;
    line-height: 1.181;
  }
}