.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  &:hover .mobile-menu__icon,
  &:focus .mobile-menu__icon{
    fill: $colorAccent;
  }
}

.mobile-menu__icon {
  width: 24px;
  height: 16px;
  fill: $colorMainDarkTheme;
}