.modal-btn {
  width: 160px;
  border: 1px solid $colorAccent;
  border-radius: 25px;
  padding: 11px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  &:hover,
  &:focus {
    background-color: $colorAccent;
    color: $colorMainDarkTheme;
  }
}

.modal-btn--dark-theme {
  color: $colorMainDarkTheme;
}

.modal-btn--light-theme {
  color: $colorMainLightTheme;
}