.navigation {
  display: flex;
}

.navigation__logo {
  margin-right: 71px;
  animation: heartBeat 250ms;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 41px;
  }
}

.navigation__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  &:hover,
  &:focus {
    color: var(--colorAccent);
  }
}