.secondary-header {
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.174;
  letter-spacing: 0.05em;
}

.secondary-header--light-theme {
  color: $colorMainLightTheme;
}

.secondary-header--dark-theme {
  color: $colorMainDarkTheme;
}