.undertitle {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $colorSecondaryDarkTheme--opacity;

  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 60px;
    margin-right: 20px;
    background-color: $colorSecondaryDarkTheme--opacity;
  }
}

.undertitle--light-theme {
  color: $colorMainLightTheme;

  &::before {
    background-color: $colorMainLightTheme;
  }
}

.undertitle--dark-theme {
  color: $colorSecondaryDarkTheme--opacity;

  &::before {
    background-color: $colorSecondaryDarkTheme--opacity;
  }
}